/sandbox/
volumes/
target/
!**/src/main/**
!**/src/test/**
bin/
*.log
logs
packages

### STS/ECLIPSE ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
.history/

## build backend ##
**/package/**

## logs ##
/logs


.project
algorithm-studies.iml
.idea/aws.xml
.idea/misc.xml
.idea/modules.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/sonarlint/issuestore/index.pb
.idea/sonarlint/issuestore/0/f/0fb52ed4736504f74e05042a0109f904513f2a9d
.project